@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Neucha-Regular';
  src: url(../font/Neucha-Regular.ttf);
}

/* header */

.background-header {
  background-image: url(../images/background.png);
}

.background-header::before {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.header-section {
  max-width: 1110px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.header-title {
  font-size: 72px;
  font-family: 'Neucha-Regular';
}

.main-image {
  height: 525px;
  top: 55px;
  right: -270px;
  position: relative;
}
